/* Admin Panel */

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #ECECEC;
    padding: 0;
}

.panel{
  padding: 30px;
}

.boton-tarjeta{
  padding: 50px;
}

.tamano-elemento-sidebar{
  height: 50px;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #ECECEC;
    height: 35px;
}
.sidebar-separator {
    background-color: #ECECEC;
    height: 25px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* Paginación */

.paginador ul{
  padding: 15px;
  list-style: none;
  background: #fff;
  margin-top: 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
}
.paginador a, .pageSelected{
  color: #41A2FC;
  border: 1px solid #ddd;
  padding: 5px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  width: 35px;
}
.paginador a:hover{
  background: #ddd;
}
.pageSelected{
  background: #41A2FC;
  color: #FFF;
  border: 1px solid #41A2FC;
}
/* Buscador */
.form_search{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  float: right;
  background: initial;
  padding: 10px;
  border-radius: 10px;
}
.form_search .btn_search{
  background: #41A2FC;
  color: #fff;
  padding: 10px;
  border: 0;
  cursor: pointer;
  margin-left: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border-radius: 5px;
}

